version: '3'

services:
  openvpn:
    image: jqtype/openvpn
#    restart: always
    tty: true
    env_file:
      - ./vpn.env
    ports:
      - "21194:1194/udp"
    privileged: true
    container_name: openvpn
    volumes:
      - ./log:/var/log/openvpn
      - ./data/openvpn:/etc/openvpn


