
#######################
# Common
#######################
# Define VPN users
# - Uncomment and replace with your own values
# - Usernames and passwords must be separated by spaces
VPN_USERS=your_vpn_username_one your_vpn_username_two
VPN_PASSWORDS=your_vpn_password_one your_vpn_password_two

# (Optional) Use alternative DNS servers
# - By default, clients are set to use Google Public DNS
# - Example below shows using Cloudflare's DNS service
# VPN_DNS_SRV1=1.1.1.1
# VPN_DNS_SRV2=1.0.0.1


#######################
# IPsec
#######################
# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=your_ipsec_pre_shared_key

# (Optional) route added by ipsec connection.
# default: 0.0.0.0/0
# VPN_IPSEC_XAUTH_ROUTES=192.168.111.19/32

# (Optional) log level 
# default: none
# VPN_IPSEC_LOG_LEVEL=none


#######################
# OpenVPN
#######################
# VPN host name (fqdn)
# VPN_HOST_NAME=example.com

# VPN_OVPN_ROUTES=192.168.111.19/32

# VPN_OVPN_EXTERNAL_PORT=21194